.footer {
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.footer span {
  color: blueviolet;
}

.footer a {
  text-decoration: none;
  color: black;
}
